[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A full fledged Docker in Docker image to act as a Jenkins Agent.
[access "refs/*"]
	owner = group user/Felipe Santos (felipecassiors)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Felipe Santos (felipecassiors)
	label-Verified = -1..+1 group user/Felipe Santos (felipecassiors)
	push = group user/Felipe Santos (felipecassiors)
	read = group user/Felipe Santos (felipecassiors)
	rebase = group user/Felipe Santos (felipecassiors)
	removeReviewer = group user/Felipe Santos (felipecassiors)
	submit = group user/Felipe Santos (felipecassiors)
[access "refs/heads/*"]
	create = group user/Felipe Santos (felipecassiors)
	push = +force group user/Felipe Santos (felipecassiors)
	pushMerge = group user/Felipe Santos (felipecassiors)
	read = group user/Felipe Santos (felipecassiors)
[access "refs/tags/*"]
	push = group user/Felipe Santos (felipecassiors)
	push = +force group user/Felipe Santos (felipecassiors)
