persistence:
  enabled: true
agent:
  containerCap: 1
  image:
    repository: jenkins-agent-dind-test-registry:5000/jenkins-agent-dind
    tag: latest
  alwaysPullImage: true
  args: ""
  websocket: true
  resources:
    requests:
      cpu: "2"
      memory: "4G"
    limits:
      cpu: "2"
      memory: "4G"
  yamlTemplate: |
    apiVersion: v1
    kind: Pod
    metadata:
      labels:
        dynamic-hostports: "22"
    spec:
      hostNetwork: false
      automountServiceAccountToken: false
      enableServiceLinks: false
      # the agent will connect to jenkins using the k8s svc name
      # dnsPolicy: Default
      restartPolicy: Never
      terminationGracePeriodSeconds: 30
      containers:
        - name: jnlp
          env:
            - name: SSHD_ENABLED
              value: "true"
          ports:
            - containerPort: 22
          securityContext:
            privileged: true
          workingDir: /home/jenkins/agent
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /home/jenkins/agent
              name: workspace-volume
            - name: podinfo
              mountPath: /ssh-command/podinfo
              readonly: true
      volumes:
        - name: workspace-volume
          emptyDir: {}
        - name: podinfo
          downwardAPI:
            items:
              - path: "sshd-port"
                fieldRef:
                  fieldPath: metadata.annotations['dynamic-hostports.k8s/22']
              - path: "node-fqdn"
                fieldRef:
                  fieldPath: metadata.annotations['dynamic-hostports.k8s/node-fqdn']
controller:
  image:
    registry: jenkins-agent-dind-test-registry:5000
    repository: jenkins
    tag: latest
    pullPolicy: Always
  installPlugins: false
  sidecars:
    configAutoReload:
      enabled: false
  jenkinsUrl: '{{ requiredEnv "JENKINS_URL" }}'
  jenkinsUriPrefix: '{{ requiredEnv "JENKINS_PREFIX" }}'
  ingress:
    enabled: true
    hostName: '{{ requiredEnv "INGRESS_HOST" }}'
    path: '{{ requiredEnv "JENKINS_PREFIX" }}'
  agentListenerEnabled: false
  executorMode: EXCLUSIVE
  JCasC:
    authorizationStrategy: unsecured
    configScripts:
      jenkins: |
        appearance:
          locale:
            systemLocale: en
            ignoreAcceptLanguage: true
          themeManager:
            theme: darkSystem
        unclassified:
          prioritySorterConfiguration:
            strategy:
              absoluteStrategy:
                defaultPriority: 2
                numberOfPriorities: 2
          priorityConfiguration:
            jobGroups:
              - description: highest priority
                id: 0
                priority: 1
                jobGroupStrategy:
                  viewBased:
                    viewName: all
                    useJobFilter: true
                    jobPattern: "^test-agent-declarative$"
              - description: lowest priority
                id: 1
                # https://issues.jenkins.io/browse/JENKINS-72401?focusedId=454953&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-454953
                priority: 2
                jobGroupStrategy:
                  viewBased:
                    viewName: all
                    useJobFilter: true
                    jobPattern: "^test-agent-scripted$"
      jobs: |
        jobs:
          - script: >
              pipelineJob('test-agent-declarative') {
                definition {
                  cps {
                    sandbox()
                    script('''\
                      {{- readFile "jobs/test-agent-declarative/Jenkinsfile" | replace "\\" "\\\\" | replace "'''" "\\'''" | nindent 30 }}
                      '''.stripIndent())
                  }
                }
              }
          - script: >
              pipelineJob('test-agent-scripted') {
                definition {
                  cps {
                    sandbox()
                    script('''\
                      {{- readFile "jobs/test-agent-scripted/Jenkinsfile" | replace "\\" "\\\\" | replace "'''" "\\'''" | nindent 30 }}
                      '''.stripIndent())
                  }
                }
              }
